@import "tailwindcss";

:root {
  --background: #e5e5e5;
  --foreground: #ece6df;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(rgba(229, 229, 229, 0.7), rgba(229, 229, 229, 0.7)), 
              url('/background.jpg') center/cover no-repeat fixed;
  background-blend-mode: overlay;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
